<%- content_for(:head) do -%>
    <%=  javascript_include_tag :customers %>
<%- end -%>
<h1>Listing customers</h1>


<table id="grid_data"></table>
<div id="grid_data_pager"></div>

<%= javascript_tag  %>
